<h1>Hye @ViewBag.nameVal;</h1>
<form method="post" runat="server">
Name: <input type="text" id="Name" name="Name" runat="server" />
Price: <input type="text" id="Price" name="Price" runat="server" />
Quantity: <input type="text" id="Quantity" name="Quantity" runat="server" />
Description: <input type="text" id="Description" name="Description" runat="server" />
Category: <input type="text" id="Category" name="Category" runat="server" />
<input type="submit" value="Submit" />
</form>